.container{
   
    height: 500px;
    width: 80%;
 
    margin: auto;
  margin-top: 50px;
    display: flex;
    font-family: georgia;
}
.head{
    margin-top: 300px;
}
.left{
    width: 40%;
    height: 100%;
 
}
.line{
    height: 5px;
    width: 100px;
    background-color: #5643CC;
    margin: auto;
  }
.right{
    width: 60%;
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.inside{
    width: 90%;
 
    height: 90%;
    margin: auto;
    margin-top: 20px;
    text-align: left;
}
.hobby{
    display: flex;
}
.hobby>div{
   
    width: 50%;
}