.container{
   /* background-image: url("../About/pic/a4.png"); */
    width: 80%;
   
    /* background-position: center;
    background-size: cover; */
  
    height: auto;
    color: rgb(0, 0, 0);
    margin: auto;
    font-family: georgia;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    flex-wrap: wrap;
     /* grid-template-columns: repeat(4,1fr); */
    gap: 20px; 
}
.container>div{
    margin: auto;
    border: 1px solid rgb(0, 0, 0);
    width: 200px;
    height: 200px;
}
.container>div:hover{
    background-color: yellow;
}


.icon{
    margin-top: 20px;
    font-size: 45px;
  
}

@media (width<=750px){
    .container{
        width: 90%;
        height: auto;
    }
}





