.container{
    width: 100%;
    height: 300px;
    
    background-color: rgb(0,117,246);
    font-family: georgia;
}
.free{
    display: flex;
    align-content: center;
    align-items: center;
    gap: 200px;
    color: white;
}
.free>div>button{
    padding: 10px;
    margin-top: 50px;
}
.free>div>h1{
  margin-left: 90px;
    margin-top: 100px;
    font-size: 40px;
}
.free>div>h1>span{
    font-size: 60px;
}
.button {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }
  
  @media (min-width: 768px) {
    .button {
      padding: 0 2.6rem;
    }
  }